<div *ngIf="!dataReady" class="mt-3">
    <mat-spinner  style="margin: 0 auto;"></mat-spinner>
</div>
<div class="container mb-5" *ngIf="metadataObj">
    <div *ngIf="validStock && dataReady; else nostockfound">
        <div class="mt-3">
            <p *ngFor="let alert of alerts">
                <ngb-alert style="text-align: center;" [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
            </p>
        </div>
        <div class="d-flex flex-row justify-content-between mt-3 mx-3">
            <div>
                <span *ngIf="isStarred"><h2>{{metadataObj.ticker}}<i (click)="toggle()" class="material-icons" style="color: gold;">star</i></h2></span>
                <span *ngIf="!isStarred"><h2>{{metadataObj.ticker}}<i (click)="toggle()" class="material-icons">star_outline</i></h2></span>
                <h3 style="color: grey;">{{metadataObj.name}}</h3>
                <p>{{metadataObj.exchangeCode}}</p>

                <ng-template #content let-modal>
                    <div class="modal-header">
                    <p class="modal-title" id="modal-basic-title">{{metadataObj.ticker}}</p>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <form>
                        <div class="form-group">
                        <label>Current Price: {{dailypriceObj.last}}</label>
                        <br>
                        <label for="quantity">Quantity </label>
                        <input style="width:100px;border-radius: 5px;margin-left:5px; border-style: solid;" type="number" inputmode="numeric" id="quantity" name="quantity" min="0" inputmode="numeric" (input)="calculateCost($event.target.value)">
                        </div>
                    </form>
                    </div>
                    <div class="modal-footer">
                    <span class="mr-auto"><label>Total: </label><span>{{totalPrice}}</span></span>  
                    <button type="button" class="btn btn-success" [disabled]="totalPrice=='0.00' || totalPrice=='0'" (click)="buyStock();modal.close('Buy click')">Buy</button>
                    </div>
                </ng-template>


                <button (click)="open(content)" type="button" class="btn btn-success">Buy</button>
            </div>
            <div [ngStyle]="{color:change>=0 ? change==0 ? 'black' : 'green' : 'red'}" class="text-right">
                <h2>{{dailypriceObj.last}}</h2>
                <div *ngIf="change>=0; else downMarket"><h3><i *ngIf="change>0;" class="fa fa-caret-up"></i>{{" "+change +" ("+changePercent+"%)"}}</h3></div>
                <ng-template #downMarket>
                    <div ><h3><i class="fa fa-caret-down"></i>{{" "+change +" ("+changePercent+"%)"}}</h3></div>
                </ng-template>
                <p style="color: grey;">{{timestamp}}</p>
            </div>
        </div>
    <p *ngIf="marketOpen;else marketClose" class="mt-4 mx-auto" style="background-color:rgb(219,236,219);width: max-content;color:black">Market is Open</p>
    <ng-template #marketClose>
        <p class="mt-4 mx-auto" style="background-color:rgb(240,216,217);width: max-content;color:black">Market Closed on {{format}}</p>
    </ng-template>

    <div>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mt-5">
            <mat-tab label="Summary">
                <div class="d-flex container justify-content-between mt-5 row">
                    <div class="col-md-6 col-sm-12">
                        <div class="d-flex justify-content-around" > 
                            <div class='d-flex justify-content-between'>
                                <div>
                                    <div>High Price:</div>
                                    <div>Low Price:</div>
                                    <div>Open Price:</div>
                                    <div>Prev. Close:</div>
                                    <div>Volume:</div>
                                </div>
                                <div>
                                    <div>{{dailypriceObj.high}}</div>
                                    <div>{{dailypriceObj.low}}</div>
                                    <div>{{dailypriceObj.open}}</div>
                                    <div>{{dailypriceObj.prevClose}}</div>
                                    <div>{{dailypriceObj.volume}}</div>
                                </div>
                                <!-- <p>High Price: {{dailypriceObj.high}}</p>
                                <p>Low Price: {{dailypriceObj.low}}</p>
                                <p>Open Price: {{dailypriceObj.open}}</p>
                                <p>Prev. Close: {{dailypriceObj.prevClose}}</p>
                                <p>Volume: {{dailypriceObj.volume}}</p> -->
                            </div>
                            <div>

                                <div *ngIf="marketOpen" class='d-flex justify-content-between'>
                                    <div>
                                        <div>Mid Price:</div>
                                        <div>Ask Price:</div>
                                        <div>Ask Size:</div>
                                        <div>Bid Price:</div>
                                        <div>Bid Size:</div>
                                    </div>
                                    <div>
                                        <div>{{dailypriceObj.mid}}</div>
                                        <div>{{dailypriceObj.askPrice}}</div>
                                        <div>{{dailypriceObj.askSize}}</div>
                                        <div>{{dailypriceObj.bidPrice}}</div>
                                        <div>{{dailypriceObj.bidSize}}</div>
                                    </div>
                                    <!-- <p>Mid Price: {{dailypriceObj.mid}}</p>
                                    <p>Ask Price: {{dailypriceObj.askPrice}}</p>
                                    <p>Ask Size: {{dailypriceObj.askSize}}</p>
                                    <p>Bid Price: {{dailypriceObj.bidPrice}}</p>
                                    <p>Bid Size: {{dailypriceObj.bidSize}}</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="mt-5"> 
                            <h3 style="text-align: center; font-size: 1.5rem;" class="mb-4">Company's Description</h3>
                            <p>Start Date: {{metadataObj.startDate}}</p>
                            <p>{{metadataObj.description}}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div id="summary-chart" style="height: 400px; min-width: 400px; width: 50%;">
                            <highcharts-chart 
                            [Highcharts]="DailyHighcharts"
                            [options]="DailyChartOptions"
                            
                            style="width: 100%; display: block;"
                            ></highcharts-chart>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Top News">
                <div class="container d-flex flex-wrap " style="width: 100%;height: fit-content;" >
                    <div *ngFor="let news of newsDataObject" class="col-lg-6 col-md-12">
                        <div class="h-100 pt-4">
                            <div class="card bg-light h-100" (click)="openNewsModal(newscontent,news)" style="margin-bottom: 9px; ">
                                <div class="card-body row" >
                                  <img class="card-img col-lg-3 col-md-12" src='{{news.urlToImage}}' alt="Card image" style="object-fit: cover;">
                                  <p class="card-text col-lg-9 col-md-12">{{news.title}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Charts"> Charts 
                <highcharts-chart 
                    [Highcharts]="Highcharts"
                    [options]="chartOptions"
                    
                    style="width: 100%; height: 400px; display: block;"
                    ></highcharts-chart>
            </mat-tab>
        </mat-tab-group>
    </div>


    <ng-template #newscontent let-modal>
        <div class="modal-header">
        <div>
            <h3 class="modal-title" id="modal-basic-title">{{currentNews.source.name}}</h3>
            <p style="color: grey;">{{currentNews.publishedAtModified}}</p>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <h5>{{currentNews.title}}</h5>
            <p>{{currentNews.description}}</p>
            <p style="color: grey;">For more details click <a href="{{currentNews.url}}" target="_blank">here</a></p>
        </div>
        <div class="card  mx-3 my-3">
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p>Share</p>
              <div>
                <a class="twitter-share-button mr-2"
                    href="https://twitter.com/intent/tweet?text={{currentNews.twitterContent}}"
                    target="_blank"
                    data-size="large">
                    <i class="fa fa-twitter fa-3x" style="color: rgb(29, 161, 242);"></i>
                </a>
                <a href="http://www.facebook.com/sharer.php?u={{currentNews.url}}" target="_blank">
                    <!-- <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /> -->
                    <i class="fa fa-facebook-square fa-3x" style="color: rgb(66,103,178);"></i>
                </a>
              
                </div>
            </div>
        </div>
    </ng-template>


    </div>
<!-- Stock found above -->
    <ng-template #nostockfound>
        <div class="mt-3">
            <p *ngFor="let alert of alerts">
                <ngb-alert style="text-align: center;" [dismissible]="false" [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
            </p>
        </div>
    </ng-template>

</div>
